#menu{
    -fx-background-image: url('fond_menu.png');
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#terrain {
    -fx-background-image: url('pokepongArena1.png');
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

#luncher {
    -fx-background-image: url('fond_luncher.gif');
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center;
}
